<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4ed70c4e-8b24-431b-875b-9d22e7785e77/resourcegroups/aspnet2rg/providers/Microsoft.Web/sites/aspnetcore2nachi</ResourceId>
    <ResourceGroup>aspnet2rg</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://aspnetcore2nachi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5c500b8-07ae-4337-b8f9-fc329a133af9</ProjectGuid>
    <PublishUrl>https://aspnetcore2nachi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$aspnetcore2nachi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>